*{
  margin:0;
  padding:0;
  list-style: none;
}

html, body{
font-family: 'Pretendard', 'roboto';
  font-size: 17px;
  background-color: #6c7ba1;
}

input, button{
  font-size: inherit;
  vertical-align: baseline;
}

.todo-app{
  width: 100%;
  max-width: 300px;
  height: 500px;
  margin: 25px auto;
  background-color: #fff;
  border-radius: 5px;
  padding:20px;
}

/*HAM-BAR와 달*/
.section-1{
  display: flex;
}
.ham-bar{
  padding-left: 10px;
  cursor: pointer;

}
.month{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 18px;
}

/*달력*/
.section-2{
  margin-top: 20px;
  width: 300px;
  height: 280px;
  border-bottom: 2px solid #dedede;
}
.week-day{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(1, 1fr);
}
.week{
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
  padding-bottom: 20px;
  color: #1b1b1b;

}
.day-number{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 25px;
  font-size: 0.8rem;
}
.day{
display: flex;
justify-content: center;
font-weight: 700;
position: relative;
cursor: pointer;
}
.last-day{
  display: flex;
  justify-content: center;
  color: #dedede;
  font-weight: 700;
  cursor: pointer;
}
.today{
  position: absolute;
  border: 2px solid #ffffff;
  top: -7px;
  width: 25px;
  height: 25px;
  border-radius: 0.6rem;
}

.today-2{
  position: absolute;
  border: 2px solid #f03d19;
  top: -7px;
  width: 25px;
  height: 25px;
  border-radius: 0.6rem;
}

.spot{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color:#6c7ba1;
  border-radius: 50px;
  margin-top: 31px;
  margin-left: 10px;
}

.spot-2{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color:#6c7ba1;
  border-radius: 50px;
  margin-top: 25px;
}

/*하단 리스트*/
.section-3{
  width: 100%;
  height: 150px;
}
.bar{
  margin-top: 10px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
.bar-line{
  width: 45px;
  height: 5px;
  background-color: #dedede;
  border-radius: 0.8rem;
}

/*체크박스 부분*/
.todo-list{
  padding-left: 10px;
  margin-bottom: 12px;
}
.list{
  display: flex;
  align-items: center;
  gap: 0.7em;
}

input[type="checkbox"]{
  position: relative;
  width: 20px;
  height: 20px;
  border: 1.8px solid #dedede;
  border-radius: 0.3rem;
  appearance: none;
  cursor: pointer;
}

input[type="checkbox"]:checked{
  background-color: #dedede;
}

input[type="checkbox"]::before{
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 9px;
  border: 2px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:checked:before{
  border-color: #fff;
}

label{
  color: #272727;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

input:checked + label{
  text-decoration: line-through;
  color: #dedede;
  
}

.section-4{
  display: flex;
  align-items: center;
  color: #adadad;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}
.plus-icon{
  padding-left: 14px;
  font-size: 14px;
}
.plus-list{
  display: flex;
  margin-left: 1rem;
}

